.secondary-navbar {
    margin-top: 43px;
}

.nsfw {
    display: none;
}

.nsfw_warning {
    width: 100%;
    margin-right: 20em;
}

.context {
    font-family: monospace;
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

.image_outer {
    margin-bottom: 3em;
}