{% extends 'viewer/page_bits/base.html' %}

{% block controls %}
<div>

<div id="nsfw_enabled" class="switch" data-on="danger" data-off="primary" data-on-label='NSFW' data-off-label='SFW'>
    <input type="checkbox" />
</div>

<select>
    <option>All channels</option>
    {% for channel in channels %}
        <option>{{ channel }}</option>
    {% endfor %}
</select>
</div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL}}css/bootstrapSwitch.css" rel="stylesheet">
    <link href="{{ STATIC_URL}}css/viewer.css" rel="stylesheet">

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/viewer.js"></script>
{% endblock %}
